/******************************
Both pages
******************************/


header {
	display: flex;
	justify-content: space-between;
}

/******************************
Homepage
******************************/


.section__content {
	display: flex;
	justify-content: space-between;
}

.homepage .bottom-row {
	display: flex;
}




/******************************
Elements I define
******************************/

.button {
	background-color: blue;
	border: 2px solid black;
}

.button a {
	text-decoration: none;
	padding: 20px;
	color: white;
}

#last-button-div {
	text-align: center;
}

/******************************
******************************/