
/******************************
Base
******************************/

body {
	margin: 0 auto;
	width: 90%;
	max-width: 900px;
}


/******************************
Both pages
******************************/


header {
	display: flex;
	justify-content: space-between;
	margin: 20px 0px;
}

.section__content {
	display: flex;
	justify-content: space-between;
}

.button {
	background-color: #AD8965;
	border: 2px solid black;
	padding: 20px;
	max-width: 180px;
	text-align: center;
}

.button a {
	text-decoration: none;
	padding: 20px;
	color: white;
	font-size: 18px;
	text-align: center;
}

/******************************
Repeatable sections
******************************/

.Jayda, .Diarra, .Margaret {
	padding: 10px;
	border: 2px solid black;
}

.Jayda {
	background-color: #C1C2BC;
}

.Diarra {
	background-color: #C1C2BC;
}

.Margaret {
	background-color: #F0B358;
}

.odd-duck {
	color: purple;
	font-size: 20px;
	font-weight: bold;
}


/******************************
Unique sections
******************************/

.hero {
	margin-left: 0px;
	margin-right: 0px;
}

.bottom-row {
	display: flex;
	justify-content: space-between;
	margin: 20px 0px;
}

.bottom-row p {
	width: 50%;
}

#very-last-button-section {
	display: block;
	margin: 20px 0px;

}