
/******************************
Base
******************************/

body {
	margin: 0 auto;
	width: 90%;
	max-width: 900px;
}


/******************************
Both pages
******************************/


header {
	display: flex;
	justify-content: space-between;
}

.section__content {
	display: flex;
	justify-content: space-between;
}

.button {
	background-color: #AD8965;
	border: 2px solid black;
}

.button a {
	text-decoration: none;
	padding: 20px;
	color: white;
	font-size: 18px;
}

/******************************
Repeatable sections
******************************/

.Jayda, .Diarra, .Margaret {
	padding: 10px;
	border: 2px solid black;
}

.Jayda {
	background-color: #C1C2BC;
}

.Diarra {
	background-color: #C1C2BC;
}

.Margaret {
	background-color: #F0B358;
}

.odd-duck {
	color: purple;
	font-size: 20px;
	font-weight: bold;
}


/******************************
Unique sections
******************************/

.hero {
	text-align: center;
}

.homepage .bottom-row {
	display: flex;
}

#last-button-div {
	text-align: center;
}

