/******************************
Homepage
******************************/

.homepage header {
	display: flex;
}

.homepage .section__content {
	display: flex;
}

.homepage .bottom-row {
	display: flex;
}




/******************************
******************************/

/******************************
******************************/