/*
CSS architecture:
inspired by both SMACSS (for base and layout names) and ITCSS (going from general to specific).

Sections are:
-- Base: contains base styles that are applied generally to the whole document, including fonts etc. (top of document) and styles applied to specific HTML elements like H1 and A tags (bottom of document).
-- Layout repeatable: any styles that are applied to repeatable sections -- either on both webpages or multiple times in a webpage.
-- Unique sections: applied to specific sections that don't repeat.



Color choices:
-- The gray behind Jayda and Diarra matches the color of one of the ships in the picture.
-- The yellow behind Margaret matches the duck in the picture.
-- The black behind the hero image is like a graduation hat
-- The purple on "the odd duck graduate" is to stand out, and the buttons match this color.

*/



/******************************
Base
******************************/

body {
	margin: 0 auto;
	width: 90%;
	max-width: 900px;
}


/******************************
Layout repeatable
******************************/


header {
	display: flex;
	justify-content: space-between;
	margin: 20px 0px;
}

.section__content {
	display: flex;
	justify-content: space-between;
}

.button {
	background-color: purple;
	border: 2px solid black;
	padding: 20px;
	max-width: 180px;
	text-align: center;
}

.button a {
	text-decoration: none;
	padding: 20px;
	color: white;
	font-size: 18px;
	text-align: center;
}

.Jayda, .Diarra, .Margaret {
	padding: 10px;
	border: 2px solid black;
}

.Jayda {
	background-color: #C6CFD4;
}

.Diarra {
	background-color: #C6CFD4;
}

.Margaret {
	background-color: #FCC900;
}

.odd-duck {
	color: purple;
	font-size: 20px;
	font-weight: bold;
}


/******************************
Unique sections
******************************/


#hero {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 209px;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: black;
}


.bottom-row {
	display: flex;
	justify-content: space-between;
	margin: 20px 0px;
}

.bottom-row p {
	width: 50%;
}

#very-last-button-section {
	display: block;
	margin: 20px 0px;

}